*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    margin:50px auto;
    width: 1000px;
}

header{
    width: 100%;
    height: 140px;
    background-color: palevioletred;
}
.jumbo{
    width: 100%;
    height: 500px;
    background-color: khaki;
    margin-top:20px;
}
main{
    margin-top: 20px;
    width: 100%;
    height: 610px;
    background-color: mediumblue;
}
.main-header{
    width: 100%;
    height: 70px;
    background-color: lightskyblue;
    margin-bottom:20px;
}


/* ---------------RAW---------- */

.raw{
    width: 100%;
    height: 500px;
    background-color: mediumblue;
}
.raw::after{
    content:" ";
    clear: both;
    display: table;
}
.laterale{
    width: 25%;
    height: 100%;
    background-color: lightskyblue;
    float: left;
}
.centrale{
    width: 50%;
    height: 100%;
    padding:0 20px;
    float: left;
}
.center-content{
    width: 100%;
    height: 100%;
    background-color: lightskyblue;

}
/* -------------------FOOTER------------- */

footer{
    margin-top:20px;
    width: 100%;
    height: 80px;
    background-color:palevioletred;
}
































